In [340]:
import pandas as pd
import numpy as np
import sklearn.compose
import matplotlib.pyplot as plt
import seaborn as sns

import scipy
import statsmodels.formula.api as smf
import statsmodels.api as sm

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import plot_confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn import svm
from sklearn.preprocessing import normalize
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import StackingClassifier

In [341]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.metrics import (confusion_matrix, precision_recall_curve, auc, roc_curve, recall_score, 
                             classification_report, f1_score, average_precision_score, precision_recall_fscore_support)

In [342]:
train = pd.read_csv ('train.csv')

In [343]:
test = pd.read_csv ('test.csv')

In [344]:
train

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,43161,3985,4,Lawrencez,40.0,856431180.0,Accountant,97384.44,8167.370000,1.0,...,Good,405.45,32.643281,336.0,No,77.284943,53.714219,High_spent_Large_value_payments,847.172909,Standard
1,40663,49494,2,Mohammedr,39.0,417453942.0,Writer,31369.58,2607.131667,8.0,...,Bad,4259.91,39.375507,144.0,Yes,171.748418,44.990811,High_spent_Large_value_payments,280.855383,Standard
2,111059,2925,6,Alistairn,17.0,499528888.0,Writer,30171.86,2772.321667,6.0,...,Bad,3406.51,34.039021,123.0,Yes,205.403926,40.781489,High_spent_Large_value_payments,247.322615,Standard
3,72139,21358,2,Dinesh Naire,22.0,859449371.0,Doctor,13100.02,1246.668333,7.0,...,Standard,727.29,34.747262,129.0,Yes,41.177132,23.005463,Low_spent_Large_value_payments,298.156832,Standard
4,119841,21221,4,Bakerg,26.0,485239890.0,Doctor,62313.54,5120.795000,6.0,...,Standard,817.64,24.545394,122.0,NM,196.679642,63.346750,Low_spent_Medium_value_payments,152.669902,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,42636,39869,7,Hendrik Sackmannb,50.0,217529489.0,Media_Manager,107761.29,9047.107500,4.0,...,Standard,34.09,41.899992,211.0,Yes,0.000000,150.220682,High_spent_Large_value_payments,984.123010,Standard
79996,114031,38305,2,Alexj,33.0,98861902.0,Scientist,16218.32,1098.526667,6.0,...,Bad,4466.33,24.275710,98.0,NM,64.533114,34.457893,High_spent_Small_value_payments,260.523798,Poor
79997,85991,9976,6,Luciana Lopezi,25.0,745835485.0,Engineer,29374.77,2377.897500,3.0,...,Standard,1189.37,38.439021,241.0,NM,40.264074,22.234178,High_spent_Medium_value_payments,403.980355,Standard
79998,21240,13193,7,Edward Krudyd,15.0,894419091.0,Manager,43782.45,3543.537500,6.0,...,Bad,3468.25,24.233841,85.0,Yes,240.664739,42.839562,Low_spent_Large_value_payments,146.741586,Poor
79999,73558,15294,5,Neilp,30.0,17531609.0,Lawyer,102215.61,8482.967500,2.0,...,Good,79.67,27.903216,366.0,No,60.567361,60.971467,Low_spent_Medium_value_payments,355.384222,Good

In [345]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        80000 non-null  int64
 1   Customer_ID               80000 non-null  int64
 2   Month                     80000 non-null  int64
 3   Name                      80000 non-null  object
 4   Age                       80000 non-null  float64
 5   SSN                       80000 non-null  float64
 6   Occupation                80000 non-null  object
 7   Annual_Income             80000 non-null  float64
 8   Monthly_Inhand_Salary     80000 non-null  float64
 9   Num_Bank_Accounts         80000 non-null  float64
 10  Num_Credit_Card           80000 non-null  float64
 11  Interest_Rate             80000 non-null  float64
 12  Num_of_Loan               80000 non-null  float64
 13  Type_of_Loan              80000 non-null  object
 14  Delay_from_due_date       80000 non-null  float64
 15  Num_of_Delayed_Payment    80000 non-null  float64
 16  Changed_Credit_Limit      80000 non-null  float64
 17  Num_Credit_Inquiries      80000 non-null  float64
 18  Credit_Mix                80000 non-null  object
 19  Outstanding_Debt          80000 non-null  float64
 20  Credit_Utilization_Ratio  80000 non-null  float64
 21  Credit_History_Age        80000 non-null  float64
 22  Payment_of_Min_Amount     80000 non-null  object
 23  Total_EMI_per_month       80000 non-null  float64
 24  Amount_invested_monthly   80000 non-null  float64
 25  Payment_Behaviour         80000 non-null  object
 26  Monthly_Balance           80000 non-null  float64
 27  Credit_Score              80000 non-null  object
dtypes: float64(18), int64(3), object(7)
memory usage: 17.1+ MB

In [346]:
train.drop(['ID','Customer_ID','SSN','Occupation','Type_of_Loan','Credit_Mix','Name','Month','Credit_History_Age'] ,axis= 1 , inplace = True)

In [347]:
test.drop(['Customer_ID','SSN','Occupation','Type_of_Loan','Credit_Mix','Name','Month','Credit_History_Age'],axis=1,inplace=True)

In [348]:
train.describe()

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance
count,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000
mean,33.316850,50585.799411,4203.922883,5.362538,5.530538,14.522275,3.527763,21.024188,13.303313,10.475395,5.792063,1422.217052,32.285315,107.704716,55.142529,393.204449
std,10.763678,38395.227743,3194.593456,2.598574,2.068277,8.727784,2.444975,14.793381,6.228352,6.604924,3.862588,1152.366513,5.121704,132.174403,39.108081,202.139708
min,14.000000,7005.930000,303.645417,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.230000,20.000000,0.000000,0.000000,0.131136
25%,24.000000,19339.080000,1625.558333,3.000000,4.000000,7.000000,2.000000,10.000000,9.000000,5.380000,3.000000,565.040000,28.053127,29.121219,28.020640,267.721365
50%,33.000000,37071.200000,3101.371910,5.000000,5.000000,13.000000,3.000000,18.000000,14.000000,9.410000,5.000000,1162.500000,32.312835,66.540929,45.161479,334.223613
75%,42.000000,71716.600000,5967.333333,7.000000,7.000000,20.000000,5.000000,28.000000,18.000000,14.870000,8.000000,1938.110000,36.499037,147.522503,71.353445,463.802235
max,56.000000,179987.280000,15204.633333,11.000000,11.000000,34.000000,9.000000,62.000000,25.000000,29.980000,17.000000,4998.070000,50.000000,1779.103254,434.191089,1183.930696

In [349]:
# from sklearn.preprocessing import OrdinalEncoder
# ordinal_encoder = OrdinalEncoder()
# for column in train.columns:
#   if train[column].dtypes == 'object':
#     train[column] = ordinal_encoder.fit_transform(train[[column]])

# for column in test.columns:
#   if test[column].dtypes == 'object':
#     test[column] = ordinal_encoder.fit_transform(test[[column]])

In [350]:
test

,ID,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,99246,45.0,57738.060,4881.505000,9.0,8.0,30.0,9.0,61.0,24.0,20.27,11.0,3916.47,22.899499,Yes,296.284136,53.821178,Low_spent_Medium_value_payments,71.427393
1,90071,42.0,19205.485,1828.457083,5.0,5.0,1.0,4.0,1.0,10.0,11.01,3.0,372.06,24.585730,No,39.417086,19.311009,Low_spent_Small_value_payments,211.447299
2,64375,32.0,49768.710,4045.392500,7.0,5.0,18.0,6.0,25.0,9.0,3.30,11.0,1428.04,25.129810,Yes,225.693491,50.036548,Low_spent_Small_value_payments,198.465986
3,142441,24.0,62424.120,5010.010000,7.0,8.0,29.0,5.0,56.0,20.0,19.58,6.0,1958.36,27.004401,Yes,175.360317,55.101365,High_spent_Large_value_payments,472.761456
4,135010,22.0,128163.360,10648.280000,5.0,7.0,7.0,4.0,14.0,0.0,8.79,5.0,1494.56,30.911401,No,281.792301,77.036872,Low_spent_Large_value_payments,536.997743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,126990,42.0,37760.220,3393.685000,3.0,4.0,3.0,3.0,1.0,10.0,11.60,3.0,821.10,23.938159,No,88.485663,37.562828,High_spent_Medium_value_payments,426.575752
19996,128347,32.0,29818.780,2257.898333,4.0,4.0,7.0,2.0,5.0,1.0,5.99,4.0,702.20,30.990148,No,45.977299,27.931177,High_spent_Small_value_payments,298.961882
19997,88941,43.0,34744.150,2784.345833,3.0,2.0,3.0,3.0,1.0,12.0,2.48,3.0,219.59,36.911828,No,52.218894,67.741940,Low_spent_Medium_value_payments,336.382928
19998,89599,35.0,60271.920,4782.660000,6.0,7.0,27.0,6.0,30.0,25.0,28.85,11.0,4546.95,32.122843,Yes,203.605795,36.776460,High_spent_Medium_value_payments,381.365614
19999,107146,52.0,79300.220,6354.351667,1.0,4.0,12.0,4.0,2.0,0.0,2.07,1.0,284.52,29.720272,NM,179.304812,59.477685,Low_spent_Large_value_payments,474.759497

In [351]:
train

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,40.0,97384.44,8167.370000,1.0,3.0,8.0,1.0,20.0,12.0,0.52,3.0,405.45,32.643281,No,77.284943,53.714219,High_spent_Large_value_payments,847.172909,Standard
1,39.0,31369.58,2607.131667,8.0,9.0,27.0,8.0,30.0,25.0,19.70,6.0,4259.91,39.375507,Yes,171.748418,44.990811,High_spent_Large_value_payments,280.855383,Standard
2,17.0,30171.86,2772.321667,6.0,7.0,30.0,9.0,49.0,18.0,23.49,10.0,3406.51,34.039021,Yes,205.403926,40.781489,High_spent_Large_value_payments,247.322615,Standard
3,22.0,13100.02,1246.668333,7.0,5.0,6.0,5.0,6.0,20.0,10.64,8.0,727.29,34.747262,Yes,41.177132,23.005463,Low_spent_Large_value_payments,298.156832,Standard
4,26.0,62313.54,5120.795000,6.0,2.0,18.0,4.0,27.0,8.0,12.82,9.0,817.64,24.545394,NM,196.679642,63.346750,Low_spent_Medium_value_payments,152.669902,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,50.0,107761.29,9047.107500,4.0,5.0,9.0,0.0,7.0,19.0,14.56,3.0,34.09,41.899992,Yes,0.000000,150.220682,High_spent_Large_value_payments,984.123010,Standard
79996,33.0,16218.32,1098.526667,6.0,6.0,21.0,5.0,44.0,19.0,8.98,6.0,4466.33,24.275710,NM,64.533114,34.457893,High_spent_Small_value_payments,260.523798,Poor
79997,25.0,29374.77,2377.897500,3.0,7.0,6.0,2.0,23.0,13.0,16.65,7.0,1189.37,38.439021,NM,40.264074,22.234178,High_spent_Medium_value_payments,403.980355,Standard
79998,15.0,43782.45,3543.537500,6.0,9.0,25.0,8.0,32.0,16.0,1.88,12.0,3468.25,24.233841,Yes,240.664739,42.839562,Low_spent_Large_value_payments,146.741586,Poor
79999,30.0,102215.61,8482.967500,2.0,5.0,10.0,1.0,11.0,9.0,3.90,8.0,79.67,27.903216,No,60.567361,60.971467,Low_spent_Medium_value_payments,355.384222,Good

In [352]:
X = train.iloc[:,0:18]
X

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,40.0,97384.44,8167.370000,1.0,3.0,8.0,1.0,20.0,12.0,0.52,3.0,405.45,32.643281,No,77.284943,53.714219,High_spent_Large_value_payments,847.172909
1,39.0,31369.58,2607.131667,8.0,9.0,27.0,8.0,30.0,25.0,19.70,6.0,4259.91,39.375507,Yes,171.748418,44.990811,High_spent_Large_value_payments,280.855383
2,17.0,30171.86,2772.321667,6.0,7.0,30.0,9.0,49.0,18.0,23.49,10.0,3406.51,34.039021,Yes,205.403926,40.781489,High_spent_Large_value_payments,247.322615
3,22.0,13100.02,1246.668333,7.0,5.0,6.0,5.0,6.0,20.0,10.64,8.0,727.29,34.747262,Yes,41.177132,23.005463,Low_spent_Large_value_payments,298.156832
4,26.0,62313.54,5120.795000,6.0,2.0,18.0,4.0,27.0,8.0,12.82,9.0,817.64,24.545394,NM,196.679642,63.346750,Low_spent_Medium_value_payments,152.669902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,50.0,107761.29,9047.107500,4.0,5.0,9.0,0.0,7.0,19.0,14.56,3.0,34.09,41.899992,Yes,0.000000,150.220682,High_spent_Large_value_payments,984.123010
79996,33.0,16218.32,1098.526667,6.0,6.0,21.0,5.0,44.0,19.0,8.98,6.0,4466.33,24.275710,NM,64.533114,34.457893,High_spent_Small_value_payments,260.523798
79997,25.0,29374.77,2377.897500,3.0,7.0,6.0,2.0,23.0,13.0,16.65,7.0,1189.37,38.439021,NM,40.264074,22.234178,High_spent_Medium_value_payments,403.980355
79998,15.0,43782.45,3543.537500,6.0,9.0,25.0,8.0,32.0,16.0,1.88,12.0,3468.25,24.233841,Yes,240.664739,42.839562,Low_spent_Large_value_payments,146.741586
79999,30.0,102215.61,8482.967500,2.0,5.0,10.0,1.0,11.0,9.0,3.90,8.0,79.67,27.903216,No,60.567361,60.971467,Low_spent_Medium_value_payments,355.384222

In [353]:
test

,ID,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,99246,45.0,57738.060,4881.505000,9.0,8.0,30.0,9.0,61.0,24.0,20.27,11.0,3916.47,22.899499,Yes,296.284136,53.821178,Low_spent_Medium_value_payments,71.427393
1,90071,42.0,19205.485,1828.457083,5.0,5.0,1.0,4.0,1.0,10.0,11.01,3.0,372.06,24.585730,No,39.417086,19.311009,Low_spent_Small_value_payments,211.447299
2,64375,32.0,49768.710,4045.392500,7.0,5.0,18.0,6.0,25.0,9.0,3.30,11.0,1428.04,25.129810,Yes,225.693491,50.036548,Low_spent_Small_value_payments,198.465986
3,142441,24.0,62424.120,5010.010000,7.0,8.0,29.0,5.0,56.0,20.0,19.58,6.0,1958.36,27.004401,Yes,175.360317,55.101365,High_spent_Large_value_payments,472.761456
4,135010,22.0,128163.360,10648.280000,5.0,7.0,7.0,4.0,14.0,0.0,8.79,5.0,1494.56,30.911401,No,281.792301,77.036872,Low_spent_Large_value_payments,536.997743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,126990,42.0,37760.220,3393.685000,3.0,4.0,3.0,3.0,1.0,10.0,11.60,3.0,821.10,23.938159,No,88.485663,37.562828,High_spent_Medium_value_payments,426.575752
19996,128347,32.0,29818.780,2257.898333,4.0,4.0,7.0,2.0,5.0,1.0,5.99,4.0,702.20,30.990148,No,45.977299,27.931177,High_spent_Small_value_payments,298.961882
19997,88941,43.0,34744.150,2784.345833,3.0,2.0,3.0,3.0,1.0,12.0,2.48,3.0,219.59,36.911828,No,52.218894,67.741940,Low_spent_Medium_value_payments,336.382928
19998,89599,35.0,60271.920,4782.660000,6.0,7.0,27.0,6.0,30.0,25.0,28.85,11.0,4546.95,32.122843,Yes,203.605795,36.776460,High_spent_Medium_value_payments,381.365614
19999,107146,52.0,79300.220,6354.351667,1.0,4.0,12.0,4.0,2.0,0.0,2.07,1.0,284.52,29.720272,NM,179.304812,59.477685,Low_spent_Large_value_payments,474.759497

In [354]:
#Separamos las variables.
#Variable objetivo:
y = train.iloc[:,-1]
y

0        Standard
1        Standard
2        Standard
3        Standard
4        Standard
           ...
79995    Standard
79996        Poor
79997    Standard
79998        Poor
79999        Good
Name: Credit_Score, Length: 80000, dtype: object

In [355]:
X

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,40.0,97384.44,8167.370000,1.0,3.0,8.0,1.0,20.0,12.0,0.52,3.0,405.45,32.643281,No,77.284943,53.714219,High_spent_Large_value_payments,847.172909
1,39.0,31369.58,2607.131667,8.0,9.0,27.0,8.0,30.0,25.0,19.70,6.0,4259.91,39.375507,Yes,171.748418,44.990811,High_spent_Large_value_payments,280.855383
2,17.0,30171.86,2772.321667,6.0,7.0,30.0,9.0,49.0,18.0,23.49,10.0,3406.51,34.039021,Yes,205.403926,40.781489,High_spent_Large_value_payments,247.322615
3,22.0,13100.02,1246.668333,7.0,5.0,6.0,5.0,6.0,20.0,10.64,8.0,727.29,34.747262,Yes,41.177132,23.005463,Low_spent_Large_value_payments,298.156832
4,26.0,62313.54,5120.795000,6.0,2.0,18.0,4.0,27.0,8.0,12.82,9.0,817.64,24.545394,NM,196.679642,63.346750,Low_spent_Medium_value_payments,152.669902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,50.0,107761.29,9047.107500,4.0,5.0,9.0,0.0,7.0,19.0,14.56,3.0,34.09,41.899992,Yes,0.000000,150.220682,High_spent_Large_value_payments,984.123010
79996,33.0,16218.32,1098.526667,6.0,6.0,21.0,5.0,44.0,19.0,8.98,6.0,4466.33,24.275710,NM,64.533114,34.457893,High_spent_Small_value_payments,260.523798
79997,25.0,29374.77,2377.897500,3.0,7.0,6.0,2.0,23.0,13.0,16.65,7.0,1189.37,38.439021,NM,40.264074,22.234178,High_spent_Medium_value_payments,403.980355
79998,15.0,43782.45,3543.537500,6.0,9.0,25.0,8.0,32.0,16.0,1.88,12.0,3468.25,24.233841,Yes,240.664739,42.839562,Low_spent_Large_value_payments,146.741586
79999,30.0,102215.61,8482.967500,2.0,5.0,10.0,1.0,11.0,9.0,3.90,8.0,79.67,27.903216,No,60.567361,60.971467,Low_spent_Medium_value_payments,355.384222

In [356]:
from sklearn.preprocessing import OneHotEncoder
enc=OneHotEncoder()

column_transformer = sklearn.compose.ColumnTransformer(transformers=[
    ("Age", "passthrough" , [0]),
    ("Annual_Income", "passthrough" , [1]),
    ("Monthly_Inhand_Salary", "passthrough" , [2]),
    ("Num_Bank_Accounts", "passthrough", [3]),
    ("Num_Credit_Card", "passthrough" , [4]),
    ("Interest_Rate","passthrough", [5]),
    ("Num_of_Loan", "passthrough" , [6]),
    ("Delay_from_due_date", "passthrough" , [7]),
    ("Num_of_Delayed_Payment", "passthrough" , [8]),
    ("Changed_Credit_Limit", "passthrough" , [9]),
    ("Num_Credit_Inquiries","passthrough", [10]),
    ("Outstanding_Debt","passthrough" , [11]),
    ("Credit_Utilization_Ratio", "passthrough" , [12]),
    ("Payment_of_Min_Amount",sklearn.preprocessing.OneHotEncoder(), [13]),
    ("Total_EMI_per_month","passthrough"  , [14]),
    ("Amount_invested_monthly", "passthrough" , [15]),
    ("Payment_Behaviour", sklearn.preprocessing.OneHotEncoder(),[16]),
    ("Monthly_Balance", "passthrough" , [17]),
]);

In [357]:
# from sklearn.preprocessing import OneHotEncoder
# enc=OneHotEncoder()


# enc_train=pd.DataFrame(enc.fit_transform(train[["Payment_of_Min_Amount","Payment_Behaviour"]]))
# final_train = train.join(enc_train)
#z=enc.fit_transform(train[["Payment_of_Min_Amount","Payment_Behaviour"]])
#test[["Name","Occupation","Type_of_Loan","Credit_Mix","Payment_of_Min_Amount","Payment_Behaviour"]]=ordinal_encoder.fit_transform(test[["Name","Occupation","Type_of_Loan","Credit_Mix","Payment_of_Min_Amount","Payment_Behaviour"]])

In [358]:
X_transform = column_transformer.fit_transform(X)
X = pd.DataFrame(X_transform)
X.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,40.0,97384.44,8167.370000,1.0,3.0,8.0,1.0,20.0,12.0,0.52,...,0.0,77.284943,53.714219,1.0,0.0,0.0,0.0,0.0,0.0,847.172909
1,39.0,31369.58,2607.131667,8.0,9.0,27.0,8.0,30.0,25.0,19.70,...,1.0,171.748418,44.990811,1.0,0.0,0.0,0.0,0.0,0.0,280.855383
2,17.0,30171.86,2772.321667,6.0,7.0,30.0,9.0,49.0,18.0,23.49,...,1.0,205.403926,40.781489,1.0,0.0,0.0,0.0,0.0,0.0,247.322615
3,22.0,13100.02,1246.668333,7.0,5.0,6.0,5.0,6.0,20.0,10.64,...,1.0,41.177132,23.005463,0.0,0.0,0.0,1.0,0.0,0.0,298.156832
4,26.0,62313.54,5120.795000,6.0,2.0,18.0,4.0,27.0,8.0,12.82,...,0.0,196.679642,63.346750,0.0,0.0,0.0,0.0,1.0,0.0,152.669902

In [359]:
test

,ID,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,99246,45.0,57738.060,4881.505000,9.0,8.0,30.0,9.0,61.0,24.0,20.27,11.0,3916.47,22.899499,Yes,296.284136,53.821178,Low_spent_Medium_value_payments,71.427393
1,90071,42.0,19205.485,1828.457083,5.0,5.0,1.0,4.0,1.0,10.0,11.01,3.0,372.06,24.585730,No,39.417086,19.311009,Low_spent_Small_value_payments,211.447299
2,64375,32.0,49768.710,4045.392500,7.0,5.0,18.0,6.0,25.0,9.0,3.30,11.0,1428.04,25.129810,Yes,225.693491,50.036548,Low_spent_Small_value_payments,198.465986
3,142441,24.0,62424.120,5010.010000,7.0,8.0,29.0,5.0,56.0,20.0,19.58,6.0,1958.36,27.004401,Yes,175.360317,55.101365,High_spent_Large_value_payments,472.761456
4,135010,22.0,128163.360,10648.280000,5.0,7.0,7.0,4.0,14.0,0.0,8.79,5.0,1494.56,30.911401,No,281.792301,77.036872,Low_spent_Large_value_payments,536.997743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,126990,42.0,37760.220,3393.685000,3.0,4.0,3.0,3.0,1.0,10.0,11.60,3.0,821.10,23.938159,No,88.485663,37.562828,High_spent_Medium_value_payments,426.575752
19996,128347,32.0,29818.780,2257.898333,4.0,4.0,7.0,2.0,5.0,1.0,5.99,4.0,702.20,30.990148,No,45.977299,27.931177,High_spent_Small_value_payments,298.961882
19997,88941,43.0,34744.150,2784.345833,3.0,2.0,3.0,3.0,1.0,12.0,2.48,3.0,219.59,36.911828,No,52.218894,67.741940,Low_spent_Medium_value_payments,336.382928
19998,89599,35.0,60271.920,4782.660000,6.0,7.0,27.0,6.0,30.0,25.0,28.85,11.0,4546.95,32.122843,Yes,203.605795,36.776460,High_spent_Medium_value_payments,381.365614
19999,107146,52.0,79300.220,6354.351667,1.0,4.0,12.0,4.0,2.0,0.0,2.07,1.0,284.52,29.720272,NM,179.304812,59.477685,Low_spent_Large_value_payments,474.759497

In [360]:
column_transformer = sklearn.compose.ColumnTransformer(transformers=[
    ("ID", "passthrough",[0]),
    ("Age", "passthrough" , [1]),
    ("Annual_Income", "passthrough" , [2]),
    ("Monthly_Inhand_Salary", "passthrough" , [3]),
    ("Num_Bank_Accounts", "passthrough", [4]),
    ("Num_Credit_Card", "passthrough" , [5]),
    ("Interest_Rate","passthrough", [6]),
    ("Num_of_Loan", "passthrough" , [7]),
    ("Delay_from_due_date", "passthrough" , [8]),
    ("Num_of_Delayed_Payment", "passthrough" , [9]),
    ("Changed_Credit_Limit", "passthrough" , [10]),
    ("Num_Credit_Inquiries","passthrough", [11]),
    ("Outstanding_Debt","passthrough" , [12]),
    ("Credit_Utilization_Ratio", "passthrough" , [13]),
    ("Payment_of_Min_Amount",sklearn.preprocessing.OneHotEncoder(), [14]),
    ("Total_EMI_per_month","passthrough"  , [15]),
    ("Amount_invested_monthly", "passthrough" , [16]),
    ("Payment_Behaviour", sklearn.preprocessing.OneHotEncoder(),[17]),
    ("Monthly_Balance", "passthrough" , [18]),
]);

In [361]:
test_transform = column_transformer.fit_transform(test)
test = pd.DataFrame(test_transform)
test.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,99246.0,45.0,57738.060,4881.505000,9.0,8.0,30.0,9.0,61.0,24.0,...,1.0,296.284136,53.821178,0.0,0.0,0.0,0.0,1.0,0.0,71.427393
1,90071.0,42.0,19205.485,1828.457083,5.0,5.0,1.0,4.0,1.0,10.0,...,0.0,39.417086,19.311009,0.0,0.0,0.0,0.0,0.0,1.0,211.447299
2,64375.0,32.0,49768.710,4045.392500,7.0,5.0,18.0,6.0,25.0,9.0,...,1.0,225.693491,50.036548,0.0,0.0,0.0,0.0,0.0,1.0,198.465986
3,142441.0,24.0,62424.120,5010.010000,7.0,8.0,29.0,5.0,56.0,20.0,...,1.0,175.360317,55.101365,1.0,0.0,0.0,0.0,0.0,0.0,472.761456
4,135010.0,22.0,128163.360,10648.280000,5.0,7.0,7.0,4.0,14.0,0.0,...,0.0,281.792301,77.036872,0.0,0.0,0.0,1.0,0.0,0.0,536.997743

In [362]:
df= pd.DataFrame(X)

In [363]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
count,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,...,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000
mean,33.316850,50585.799411,4203.922883,5.362538,5.530538,14.522275,3.527763,21.024188,13.303313,10.475395,...,0.522975,107.704716,55.142529,0.148287,0.196988,0.117900,0.107700,0.143912,0.285212,393.204449
std,10.763678,38395.227743,3194.593456,2.598574,2.068277,8.727784,2.444975,14.793381,6.228352,6.604924,...,0.499475,132.174403,39.108081,0.355387,0.397725,0.322492,0.310003,0.351003,0.451518,202.139708
min,14.000000,7005.930000,303.645417,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.131136
25%,24.000000,19339.080000,1625.558333,3.000000,4.000000,7.000000,2.000000,10.000000,9.000000,5.380000,...,0.000000,29.121219,28.020640,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,267.721365
50%,33.000000,37071.200000,3101.371910,5.000000,5.000000,13.000000,3.000000,18.000000,14.000000,9.410000,...,1.000000,66.540929,45.161479,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,334.223613
75%,42.000000,71716.600000,5967.333333,7.000000,7.000000,20.000000,5.000000,28.000000,18.000000,14.870000,...,1.000000,147.522503,71.353445,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,463.802235
max,56.000000,179987.280000,15204.633333,11.000000,11.000000,34.000000,9.000000,62.000000,25.000000,29.980000,...,1.000000,1779.103254,434.191089,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1183.930696

In [364]:
#  from sklearn.feature_selection import mutual_info_classif
#  mutual_info = mutual_info_classif(X, y)
#  mutual_info

In [365]:
# mutual_info = pd.Series(mutual_info)
# mutual_info.index = X.columns
# mutual_info.sort_values(ascending=False)

In [366]:
# mutual_info.sort_values(ascending=False).plot.bar(figsize=(20, 8))

In [367]:
train.head(5)

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,40.0,97384.44,8167.370000,1.0,3.0,8.0,1.0,20.0,12.0,0.52,3.0,405.45,32.643281,No,77.284943,53.714219,High_spent_Large_value_payments,847.172909,Standard
1,39.0,31369.58,2607.131667,8.0,9.0,27.0,8.0,30.0,25.0,19.70,6.0,4259.91,39.375507,Yes,171.748418,44.990811,High_spent_Large_value_payments,280.855383,Standard
2,17.0,30171.86,2772.321667,6.0,7.0,30.0,9.0,49.0,18.0,23.49,10.0,3406.51,34.039021,Yes,205.403926,40.781489,High_spent_Large_value_payments,247.322615,Standard
3,22.0,13100.02,1246.668333,7.0,5.0,6.0,5.0,6.0,20.0,10.64,8.0,727.29,34.747262,Yes,41.177132,23.005463,Low_spent_Large_value_payments,298.156832,Standard
4,26.0,62313.54,5120.795000,6.0,2.0,18.0,4.0,27.0,8.0,12.82,9.0,817.64,24.545394,NM,196.679642,63.346750,Low_spent_Medium_value_payments,152.669902,Standard

In [368]:

y = train['Credit_Score'].values
x_train,x_test,y_train,y_test = train_test_split(df,y, test_size=0.3,random_state = 1234)
#print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

In [369]:
#svm = svm.SVC(kernel='')

In [370]:
rf = RandomForestClassifier()

In [371]:
rf.fit(x_train , y_train)

RandomForestClassifier()

In [372]:
rf_score_train=rf.score(x_train , y_train)
rf_score_train

0.9999821428571428

In [373]:
rf_score_test=rf.score(x_test , y_test)
rf_score_test

0.7904166666666667

In [374]:
#Para balancear los datos:
SMT = SMOTE()
x_SMT, y_SMT = SMT.fit_resample(df,y)
x_train_smote, x_test_smote, y_train_smote, y_test_smote = train_test_split(x_SMT, y_SMT, test_size=0.15, random_state=42)

In [375]:
rf = RandomForestClassifier()

In [376]:
classifier_3 = rf.fit(x_train_smote , y_train_smote)

In [377]:
rf_score_train=rf.score(x_train_smote , y_train_smote)
rf_score_train

0.9999815624020503

In [378]:
rf_score_test=rf.score(x_test , y_test)
rf_score_test

0.9669583333333334

In [379]:
y_pred= classifier_3.predict(x_test)

In [380]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

        Good       0.96      0.95      0.95      4269
        Poor       0.97      0.97      0.97      7107
    Standard       0.97      0.97      0.97     12624

    accuracy                           0.97     24000
   macro avg       0.97      0.96      0.96     24000
weighted avg       0.97      0.97      0.97     24000

In [381]:
# knn = KNeighborsClassifier(n_neighbors=3)

In [382]:
# y_train

In [383]:
# classifier_1=knn.fit(x_train, y_train)

In [384]:
# knn_score_train=knn.score(x_train , y_train)
# knn_score_train

In [385]:
# knn_score_test=knn.score(x_test , y_test)
# knn_score_test

In [386]:
# #Para balancear los datos:
# SMT = SMOTE()
# x_SMT, y_SMT = SMT.fit_resample(df,y)
# x_train_smote, x_test_smote, y_train_smote, y_test_smote = train_test_split(x_SMT, y_SMT, test_size=0.15, random_state=42)

In [387]:
# knn = KNeighborsClassifier(n_neighbors=7)

In [388]:
# classifier_2= knn.fit(x_train_smote, y_train_smote)

In [389]:
# knn_score_train_smote=knn.score(x_train_smote , y_train_smote)
# knn_score_train_smote

In [390]:
# knn_score_test_smote=knn.score(x_test_smote , y_test_smote)
# knn_score_test_smote

In [391]:
#y_pred= classifier_2.predict(x_test)

In [392]:
#print(classification_report(y_pred,y_test))

In [393]:
x_ids=test[0].values

In [394]:
test.drop([0],axis=1,inplace=True)

In [395]:

pred= classifier_3.predict(test)

In [396]:
results=pd.DataFrame(list(zip(x_ids, pred)),columns=['ID', 'Credit_Score'])

In [397]:
pred

array(['Standard', 'Good', 'Poor', ..., 'Good', 'Standard', 'Good'],
      dtype=object)

In [398]:
results=pd.DataFrame(list(zip(x_ids,pred)),columns=['ID', 'Credit_Score'])

In [399]:
results.head()

         ID Credit_Score
0   99246.0     Standard
1   90071.0         Good
2   64375.0         Poor
3  142441.0         Poor
4  135010.0         Poor

In [401]:
results.to_csv('predictions3.csv',index=False)